#image {  
  padding-right:50px;
  width: 700px;
  height: 700px;
}
img{
  position: absolute;
  padding-left: 0%;
  padding-top: 50%;
  width: 300PX;
  height: 300PX;
}


#container{
  display: inline-block;
  position: absolute;
}



#texto {
  position: absolute;
  font-size: 32px;
  left: 250px;
  top: 135px;
}

main{
  display: inline-block;
  margin-top: 2%;
  padding: 15px;
  position: relative;
}

body{
  text-align: center;
  background: linear-gradient(to bottom, rgb(8, 138, 225), #fff);
  min-height: 100vh;
}




